.action-container {
    display: flex;
    justify-content: space-around;
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin: 5%;
    margin-right: 30%;
}


.action-card {
    background-image: url("https://media.defense.gov/2014/Jan/31/2000879795/780/780/0/140115-Z-AY311-055.JPG");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 8%;
    opacity: 0.9;
    flex-basis: 15rem;
    color: hsl(228, 69%, 9%);
    font-size: 150%;
    align-content: center;
}

.front-of-card > h3 {
    align-self: center;
    background-color: hsl(39, 48%, 46%);
    padding: 20%;
    text-transform: uppercase;
    cursor: pointer;
}

.back-of-card {
    background-color: hsl(39, 48%, 46%);
    justify-content: space-between;
    width: 45vh;
}

.back-of-card > h4 {
    padding: 5%;
}

.back-of-card > p {
    padding: 5%;
    padding-top: 0;
}

.back-of-card > a {
    color: hsl(90, 8%, 95%) !important;
    text-transform: uppercase;
    text-decoration: none;
    background: hsl(212, 34%, 47%);
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    font-weight: bold;
    cursor: pointer;   
    /* margin-bottom: 5%; */
    text-align: center;
    margin: 0 5% 0;
    width: 85%;
}

.back-of-card > button {
    color: hsl(90, 8%, 95%) !important;
    text-transform: uppercase;
    text-decoration: none;
    background: hsl(212, 34%, 47%);
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    font-weight: bold;
    cursor: pointer; 
    width: 90%; 
    font-size: 80%;
    margin: 5%;
}