@import url('https://fonts.googleapis.com/css?family=Barlow|Barlow+Semi+Condensed&display=swap');
@import "./header.css";
@import "./main.css";
@import "./action.css";


html, body {
    height: 100%;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/f/f0/Map_of_USA_showing_unlabeled_state_boundaries.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}