@import url('https://fonts.googleapis.com/css?family=Barlow|Barlow+Semi+Condensed&display=swap');
@import "./header.css";
@import "./main.css";
@import "./action.css";


html, body {
    height: 100%;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/f/fc/Rainbow_Bridge_And_Statue_Of_Liberty_%2851942076%29.jpeg
    );
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}