


header {
    font-family: 'Barlow', sans-serif;
    background: linear-gradient(to right, hsl(90, 8%, 95%), hsl(39, 48%, 46%)) !important;
    color:hsl(212, 34%, 47%) ;
}

header > h1 {
    font-size: 200%;
    font-weight: bold;
    padding-bottom: .5%;
    padding-top: .5%;
    padding-left: 2%;
}

/* header > h2 {
    font-size: 150%;
    font-weight: bolder;
    padding-bottom: 1%;
    padding-left: 2.2%;
} */

header > aside {
    font-size: 130%;
    font-weight: bolder;
    padding-bottom: .5%;
    padding-left: 2.1%;
}

nav {
    float: right;
    padding-top: 1%;
    padding-right: 2.2%;
    display: flex;

}

nav > button {
    color: hsl(90, 8%, 95%) !important;
    text-transform: uppercase;
    text-decoration: none;
    background: hsl(212, 34%, 47%);
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    font-weight: bold;
    cursor: pointer;   
}

nav > button:hover {
    background: hsl(228, 69%, 9%);
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

.all-actions-button {
    margin-right: 6%;
}