.main-container{
    font-family: 'Barlow Semi Condensed', sans-serif;
    height: 100%;
    color: hsl(90, 8%, 95%);
    overflow-y: auto;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/f/fc/Rainbow_Bridge_And_Statue_Of_Liberty_%2851942076%29.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.start-screen {
    margin-right: 30%;
}

.start-screen > p {
    padding-top: 2%;
    padding-left: 2%;
    padding-bottom: 2%;
    font-size: 3vh;
}

.start-screen > button {
    color: hsl(90, 8%, 95%)!important;
    text-transform: uppercase;
    text-decoration: none;
    background: hsl(212, 34%, 47%);
    padding: 10px;
    border-radius: 5px;
    border: none;
    transition: all 0.4s ease 0s;
    font-weight: bold;
    cursor: pointer;  
    margin-left: 2%; 
    float: right;
    margin: 2.2% 2% 10%;
    outline: 0 !important;
    box-shadow: 5px 5px 3px hsl(212, 20%, 30%)
}

.start-screen > button:hover {
    background: hsl(228, 69%, 9%);
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    padding-left: 2%;
    padding-top: 2%;
    outline: 0 !important;
}


